.hero {
	background-image: url('../img/hero_one.jpg');
	background-position: center;
	background-size: cover;
	height: auto;
	min-height: 500px;

	&--text {
		background-color: rgba(255, 255, 255, .5);
		padding: 1em;
		width: 50%;
	}
}